<div class="ui container">
  <div class="header">
    <h3 class="ui center aligned header"> All Rydeshares </h3>
  </div>
  <div class="ui basic segment">
    <% @trips.each do |trip| %>
      <% if !trip.admin?(current_user) && !current_user.member?(trip) %>
        <div class="ui left icon button">
          <%= link_to memberships_user_path(trip.id), method: 'post' do %>
          Join  <i class="add user icon"></i>
          <% end %>
        </div>
      <% end %>
      <br>
    <% end %>
  </div>
</div>
