<div class="ui container">
  <div class="ui segment">
    <div class="four wide column">
      <div class="header">
        <h3 class="nav-title">
        	<%= link_to new_trip_path do %>
          Your Trips
        		<i class="add circle icon"></i>
        	<% end %>
        </h3>
    	</div>
      <br>
      <div>
        <%= render 'your_trips' %>
      </div>
    	<br>
      <div>
        <%= render 'all_trips' %>
      </div>
    </div>
  </div>
</div>
