<div class="ui container">
  <div class="ui basic segment">
    <div class="four wide column">
      <br>
      <div>
        <%= render 'your_trips' %>
      </div>
    	<br>
      <div>
        <%= render 'all_trips' %>
      </div>
    </div>
  </div>
</div>
