<div class="ui basic segment">
  <h1 class="ui header"> Welcome to Rydeshare!</h1>
  <p> Save time, make friends and reduce your carbon footprint by carpooling. </p>
  <p>Sign up to be a Rider or Driver Today? <%= link_to 'Sign up', new_user_registration_path%></p>
  <p>Already a member? <%= link_to 'Log in', new_user_session_path%> </p>
</div>
