<h2 class="ui center aligned header"> Rydeshare Dashboard</h2>

<div class="ui container">
	<div class="twelve wide column">
		<div id="map">
		</div>
	</div>
</div>

<script type="text/javascript">
    var map = new GMaps({
      el: '#map',
      lat: 37.5431768,
			lng: -122.2981118,
			zoom: 9
    });

  <% @trips.each do |trip| %>
    map.addMarker({lat: <%= trip.latitude %>, lng: <%= trip.longitude %>});
  <% end %>
</script>
