<p>Address: <%= @trip.address %></p>
<p>Coordinates: <%= @trip.latitude %>, <%= @trip.longitude %></p>
<%= button_to "Delete", { action: "destroy", id: @trip.id },  method: :delete, data:
                                  {confirm: "Are you sure you want to delete this carpool?"} %>
