<div class="ui stackable grid">
	<div class="eight wide column">
		<%= yield %>
	</div>

  <div class="right-sidebar eight wide column">
		<div class="ui segments">
			<div>
			<%= render 'dashboard_sidebar' %>
			</div>
		</div>
	</div>
</div>
