<div class="ui stackable grid">
	<div class="twelve wide column">
		<div class="ui stackable grid">
		<%= yield %>
		</div>
	</div>

  <aside class="right-sidebar four wide column">
		<div class="ui segments">
			<div>
			<p> placeholder </p>
			</div>
      <div>
			<p> placeholder </p>
			</div>
      <div>
			<p> placeholder </p>
			</div>
		</div>
	</aside>
</div>
