<div class="ui stackable grid">
	<div class="twelve wide column">
		<%= yield %>
	</div>

  <aside class="right-sidebar four wide column">
		<div class="ui segments">
			<div>
			<%= render 'dashboard_sidebar' %>
			</div>
		</div>
	</aside>
</div>
